# Vim stuff
*.sw[onp]

# build stuff
*.o

# other build-related stuff I don't grok
autom4te.cache
autoscan.log
config.log
config.status
configure.scan
aclocal.m4
compile
config.h
config.h.in~
install-sh
missing
stamp-h1
